.btn-container{
    display: flex;
    flex-direction: column;
}

.choice-character{
    background-color: #121212;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    padding: 0.25em;
}

.choice-character:hover {
    opacity: 0.8;
}